{% extends "base.html" %}

{% block title %}Wydarzenia{% endblock %}

{% block content %}
    {% for event in object_list %}
        <div class="event">
            <p>
                <a href="/update/{{ event.id }}">aktualizuj</a>
                <a href="/delete/{{ event.id }}">usuń</a>
            </p>
            <p>{{ event.name }}</p>
            <p>{{ event.description }}</p>
            <p>{{ event.start_date_time }}</p>
            <p>{{ event.end_date_time }}</p>
        </div>
    {% endfor %}
{% endblock %}